// *********** Mobile ************

@media screen and (max-width: 480px){

    .fa-solid {
        font-size: 1rem;
        padding: 10px 12px;
        border: 2px solid white;
        right: 15px;
        bottom: 15px;
    }

    header {
        height: 100vh;
        & nav {
            & ul {
                justify-content: end;

                & li:not(.icons) {
                    display: none;
                }
            }
        }
        & .title { 
            & .title-content {
                & h2 {
                    font-size: 2rem;
                    margin-bottom: 20px;
                }        
                & h1 {
                    font-size: 2rem;
                }
            }
        }
    }

    .section-1 {
        display: block;
        min-height: 400px;
        
        
        & .right-container {
            display: none;
        }
    }

    .section-2 {
        & .section-2-header nav {
            width: 80%;
        }
        & .menu-container {
            & .menu {
                display: block;
                width: 85%;
                & h4 {
                    font-size: 0.8rem;
                    font-weight: 600;
                }
                & p {
                    font-size: 0.8rem;
                    color: rgb(134, 134, 134);
                    margin-top: 15px;
                }
                & div::before {
                    transform: translateX(15%);
                }
            }
        }
    }

    .section-3-content {
        display: block;
        width: 90%;

        & .section-3-left-container {
            width: 100%;
        }
        & .section-3-right-container {
            width: 100%;
            padding-bottom: 50px;
            padding-top: 30px;

            & h3 {
                font-size: 2rem;
            }

            & input {
                border-bottom: 1px solid black;
            }
        }
    }

    .section-4 {
        display: none;
    }

    .section-5 {
        background: $bg-grey;

        & .section-5-content {
            margin-top: 250px;
            height: auto;
            width: 90%;

            & .section-5-txt-content p {
                margin: 40px 10px 20px 10px;
            }
            & .section-5-txt-content h4 {
                margin-bottom: 20px;
            }
        }
    }
    footer {
        background: rgb(10, 10, 10);

        & .footer-content {
            width: 90%;
            
            & .footer-left {
                display: none;
            }
            & .footer-right {
                width: 100%;

                & .follow {
                    width: 100%;

                        font-size: 0.8rem;
                   
                }
            }
        }        
    }
    
}
