html {
    scroll-behavior: smooth;
}

.fa-solid {
    position: fixed;
        color: aliceblue;
        bottom: 40px;
        right: 40px;
        font-size: 2.5rem;
        z-index: 2;
        border: 3px solid white;
        padding: 15px 20px;
        border-radius: 150px;
        cursor: pointer;
}


@font-face {
    font-family: "allura";
    src: url("../fonts/Allura-Regular.ttf") swap;
    
}

@font-face {
    font-family: "poppins";
    src: url(../fonts/Poppins-Regular.ttf) swap;
}

@font-face {
    font-family: "poppins-bold";
    src: url(../fonts/Poppins-Medium.ttf) swap;
}

$font-allura: allura;
$font-poppins: poppins;
$font-poppins-bold: poppins-bold;

$color-1: rgb(179, 136, 62);
$color-2: white;

$bg-grey: rgb(32, 32, 32);


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}